# Isolate Binary Outcomes

The only purpose of this notebook is to isolate the loans that have a `loan_status` value of `Fully Paid` or `Charged Off` so as to turn this into a binary classification problem.

### Load Packages

In [1]:
import pandas as pd
pd.options.display.max_rows = 200

### Read-In Data

In [2]:
#df_default = pd.read_csv('accepted_2007_to_2018q4/accepted_2007_to_2018Q4.csv', low_memory=False)
df_default = pd.read_csv("data_reduced/lending_club_reduced.csv")
df_default

/tmp/ipykernel_27795/1563973520.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_default = pd.read_csv("data_reduced/lending_club_reduced.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,134404767,NaN,20000.0,20000.0,20000.0,36 months,6.19,610.17,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,39460023,NaN,5625.0,5625.0,5625.0,36 months,12.39,187.89,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,38202144,NaN,25000.0,25000.0,25000.0,36 months,6.49,766.12,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,119997411,NaN,17000.0,17000.0,17000.0,36 months,9.44,544.09,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,17343169,NaN,16000.0,16000.0,15950.0,60 months,19.52,419.65,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,91428356,NaN,8000.0,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999996,121422961,NaN,12000.0,12000.0,12000.0,60 months,12.62,270.71,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999997,23893875,NaN,24000.0,24000.0,24000.0,36 months,6.49,735.47,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999998,76293448,NaN,2000.0,2000.0,2000.0,36 months,6.97,61.73,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999999,84899195,NaN,30000.0,30000.0,30000.0,60 months,15.59,723.03,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_default.head(1).T

                                                                                            0
id                                                                                  134404767
member_id                                                                                 NaN
loan_amnt                                                                             20000.0
funded_amnt                                                                           20000.0
funded_amnt_inv                                                                       20000.0
term                                                                                36 months
int_rate                                                                                 6.19
installment                                                                            610.17
grade                                                                                       A
sub_grade                                                                                  A2
emp_title                                                               Volkswagen Technician
emp_length                                                                            7 years
home_ownership                                                                       MORTGAGE
annual_inc                                                                            90000.0
verification_status                                                              Not Verified
issue_d                                                                              Jun-2018
loan_status                                                                           Current
pymnt_plan                                                                                  n
url                                         https://lendingclub.com/browse/loanDetail.acti...
desc                                                                                      NaN
purpose                                                                    debt_consolidation
title                                                                      Debt consolidation
zip_code                                                                                530xx
addr_state                                                                                 WI
dti                                                                                     18.39
delinq_2yrs                                                                               0.0
earliest_cr_line                                                                     Aug-2001
fico_range_low                                                                          755.0
fico_range_high                                                                         759.0
inq_last_6mths                                                                            0.0
mths_since_last_delinq                                                                    NaN
mths_since_last_record                                                                    NaN
open_acc                                                                                 10.0
pub_rec                                                                                   0.0
revol_bal                                                                             16626.0
revol_util                                                                               33.5
total_acc                                                                                29.0
initial_list_status                                                                         w
out_prncp                                                                            14810.64
out_prncp_inv                                                                        14810.64
total_pymnt                                                                           6067.31
total_pymnt_inv                                                                       6067.31
total_rec_prncp                                                                       5189.36
total_rec_int                                                                          877.95
total_rec_late_fee                                                                        0.0
recoveries                                                                                0.0
collection_recovery_fee                                                                   0.0
last_pymnt_d                                                                         Mar-2019
last_pymnt_amnt                                                                        610.17
next_pymnt_d                                                                         Apr-2019
last_credit_pull_d                                                                   Mar-2019
last_fico_range_high                                                                    794.0
last_fico_range_low                                                                     790.0
collections_12_mths_ex_med                                                                0.0
mths_since_last_major_derog                                                               NaN
policy_code                                                                               1.0
application_type                                                                    Joint App
annual_inc_joint                                                                     140000.0
dti_joint                                                                               16.61
verification_status_joint                                                        Not Verified
acc_now_delinq                                                                            0.0
tot_coll_amt                                                                              0.0
tot_cur_bal                                                                          391471.0
open_acc_6m                                                                               3.0
open_act_il                                                                               2.0
open_il_12m                                                                               1.0
open_il_24m                                                                               1.0
mths_since_rcnt_il                                                                       11.0
total_bal_il                                                                          65518.0
il_util                                                                                  17.0
open_rv_12m                                                                               3.0
open_rv_24m                                                                               3.0
max_bal_bc                                                                             6515.0
all_util                                                                                 30.0
total_rev_hi_lim                                                                      49700.0
inq_fi                                                                                    0.0
total_cu_tl                                                                               0.0
inq_last_12m                                                                              1.0
acc_open_past_24mths                                                                      5.0
avg_cur_bal                                                                           39147.0
bc_open_to_buy                                                                        12836.0
bc_util                                                                                  43.2
chargeoff_within_12_mths                                                                  0.0
delinq_amnt                                                                               0.0
mo_sin_old_il_acct                                                                      201.0
mo_sin_old_rev_tl_op                                                                    145.0
mo_sin_rcnt_rev_tl_op                                                                     2.0
mo_sin_rcnt_tl                                                                            2.0
mort_acc                                                                                  2.0
mths_since_recent_bc                                                                     72.0
mths_since_recent_bc_dlq                                                                  NaN
mths_since_recent_inq                                                                     6.0
mths_since_recent_revol_delinq                                                            NaN
num_accts_ever_120_pd                                                                     0.0
num_actv_bc_tl                                                                            3.0
num_actv_rev_tl                                                                           6.0
num_bc_sats                                                                               3.0
num_bc_tl                                                                                 5.0
num_il_tl                                                                                11.0
num_op_rev_tl                                                                             7.0
num_rev_accts                                                                            16.0
num_rev_tl_bal_gt_0                                                                       6.0
num_sats                                                                                 10.0
num_tl_120dpd_2m                                                                          0.0
num_tl_30dpd                                                                              0.0
num_tl_90g_dpd_24m                                                                        0.0
num_tl_op_past_12m                                                                        5.0
pct_tl_nvr_dlq                                                                          100.0
percent_bc_gt_75                                                                         33.3
pub_rec_bankruptcies                                                                      0.0
tax_liens                                                                                 0.0
tot_hi_cred_lim                                                                      439244.0
total_bal_ex_mort                                                                     82144.0
total_bc_limit                                                                        22600.0
total_il_high_credit_limit                                                            79750.0
revol_bal_joint                                                                       24706.0
sec_app_fico_range_low                                                                  695.0
sec_app_fico_range_high                                                                 699.0
sec_app_earliest_cr_line                                                             Oct-2001
sec_app_inq_last_6mths                                                                    0.0
sec_app_mort_acc                                                                          2.0
sec_app_open_acc                                                                         13.0
sec_app_revol_util                                                                       49.0
sec_app_open_act_il                                                                       3.0
sec_app_num_rev_accts                                                                    11.0
sec_app_chargeoff_within_12_mths                                                          0.0
sec_app_collections_12_mths_ex_med                                                        0.0
sec_app_mths_since_last_major_derog                                                       NaN
hardship_flag                                                                               N
hardship_type                                                                             NaN
hardship_reason                                                                           NaN
hardship_status                                                                           NaN
deferral_term                                                                             NaN
hardship_amount                                                                           NaN
hardship_start_date                                                                       NaN
hardship_end_date                                                                         NaN
payment_plan_start_date                                                                   NaN
hardship_length                                                                           NaN
hardship_dpd                                                                              NaN
hardship_loan_status                                                                      NaN
orig_projected_additional_accrued_interest                                                NaN
hardship_payoff_balance_amount                                                            NaN
hardship_last_payment_amount                                                              NaN
disbursement_method                                                                      Cash
debt_settlement_flag                                                                        N
debt_settlement_flag_date                                                                 NaN
settlement_status                                                                         NaN
settlement_date                                                                           NaN
settlement_amount                                                                         NaN
settlement_percentage                                                                     NaN
settlement_term                                                                           NaN

### Explore Data

The loan status values that seem to be relevant to us are `Fully Paid` and `Charged Off`.

In [4]:
df_default["loan_status"].value_counts()

loan_status
Fully Paid                                             475806
Current                                                388899
Charged Off                                            118964
Late (31-120 days)                                       9413
In Grace Period                                          3727
Late (16-30 days)                                        1949
Does not meet the credit policy. Status:Fully Paid        859
Does not meet the credit policy. Status:Charged Off       350
Default                                                    17
Name: count, dtype: int64

### Separate Out Binary Outcomes

Let's keep only the rows with those values and discard the rest.

In [5]:
df_binary = df_default.query('loan_status == "Fully Paid" | loan_status == "Charged Off"')
df_binary

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
1,39460023,NaN,5625.0,5625.0,5625.0,36 months,12.39,187.89,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,38202144,NaN,25000.0,25000.0,25000.0,36 months,6.49,766.12,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,17343169,NaN,16000.0,16000.0,15950.0,60 months,19.52,419.65,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,20682243,NaN,19100.0,19100.0,19100.0,36 months,18.24,692.82,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,10148376,NaN,20000.0,20000.0,20000.0,60 months,19.97,529.55,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999992,144528743,NaN,10800.0,10800.0,10800.0,60 months,22.35,300.44,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999994,27150276,NaN,18000.0,18000.0,18000.0,36 months,10.99,589.22,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999995,91428356,NaN,8000.0,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999997,23893875,NaN,24000.0,24000.0,24000.0,36 months,6.49,735.47,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
999998,76293448,NaN,2000.0,2000.0,2000.0,36 months,6.97,61.73,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### Write to CSV

In [6]:
df_binary.to_csv('data_processed/01_binary.csv', index=False)